@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #4717F6;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    border-radius: 50%;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
}

#cabecalho-menu-item-entrar{
    background-color: #0E0B16;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 2px 8px;
}

#cabecalho-menu-item-entrar:hover{
    background-color: #4717F6;
    color: #0E0B16;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #ffffff;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
}

.conteudo-principal-escrito-botao{
    background-color: #0E0B16;
    color: #ffffff;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(255, 255, 255, 0.582);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.conteudo-principal-escrito-botao:hover{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.849);
    box-shadow: none;
}

.conteudo-principal-imagem{
    border-radius: 20px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #ffffff;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}

.segunda-parte{
    background-color: #0E0B16;
}

.secao-servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}    

.secao-servicos-titulo{
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #4717F6;
    margin-bottom: 16px;
}

.secao-servicos-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4717F6;
    margin-bottom: 50px;
}

.secao-servicos-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #4717F6;
}

.secao-servicos img {
    width: 25rem;
    height: 25rem;
    background-color: #4717F6;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 50px;
}

.secao-contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-top: 0.4px solid #ffffff;
    margin-top: 48px;
}    

.secao-contato-titulo{
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #4717F6;
    margin-bottom: 16px;
}

.secao-contato-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #4717F6;
    margin-bottom: 50px;
}

.secao-contato-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #4717F6;
    border-top: 0.4px solid #ffffff;
    padding-top: 30px;
}

.redes-sociais{
    display: flex;
    gap: 25px;
    padding-bottom: 3rem;
}

.texto-rodape{
    color: #0E0B16;
    font-family: sans-serif;
    border-top: 0.4px solid #ffffff;
    padding: 20px;
    font-size: 1rem;
    text-align: center;
}

.meu-nome{
    color: #ffffff;
}
